In [1]:
import sqlite3
import pandas as pd

from helpers import tap_request, clean_data

## connect

In [2]:
conn = sqlite3.connect("../database.db")
# conn = sqlite3.connect("test_database.db")
cursor = conn.cursor()

## Commit and Close connection

In [5]:
conn.commit()
conn.close()

## Planets

### Delete

In [ ]:
# conn.execute("""DROP TABLE IF EXISTS planets""")

### Create

In [ ]:
conn.execute("""
CREATE TABLE planets (
    pl_name TEXT PRIMARY KEY NOT NULL,
    hostname TEXT,
    cb_flag INTEGER,
    cv_flag INTEGER,
    disc_method TEXT,
    disc_instrument TEXT,
    orbit_period REAL,
    mass REAL,
    radius REAL,
    insol_flux REAL,
    equlib_temp REAL,
    disc_pubdate TEXT,
    declassified INTEGER,
    last_updated DATETIME DEFAULT current_timestamp
);
""")

### Checks

##### Table Meta Data

In [ ]:
pd.read_sql_query("""PRAGMA table_info('planets');""", conn)

##### All

In [ ]:
pd.read_sql_query("""SELECT * FROM planets LIMIT(5)""", conn)

##### Count

In [ ]:
pd.read_sql_query("SELECT COUNT(pl_name) FROM planets", conn)

##### All planetary systems by hostname from systems

In [ ]:
pd.read_sql_query("""
SELECT *
FROM   planets
WHERE  hostname=(
  SELECT sy_name 
  FROM   systems
  WHERE  sy_name='14 Her'
  )
""", conn)

##### get most recent discovery public date

In [ ]:
pd.read_sql_query("""
SELECT * FROM planets
 WHERE disc_pubdate = (
  SELECT MAX(disc_pubdate)
    FROM planets
);""", conn)

##### check none search

In [ ]:
body_name = 'asdf'

cursor.execute(f"""
    SELECT hostname
    FROM planets
    WHERE pl_name='{body_name}';
""")
print(cursor.fetchone())

## Systems

### Delete

In [ ]:
# conn.execute("""DROP TABLE IF EXISTS systems""")

### Create

In [ ]:
conn.execute("""
CREATE TABLE systems (
    sy_name TEXT PRIMARY KEY NOT NULL,
    sy_snum INTEGER,
    sy_pnum INTEGER,
    last_updated DATETIME DEFAULT current_timestamp
);
""")

### UPSERT

In [ ]:
# data_to_insert = []
# for _, row in old_hosts.iterrows():
#     data_to_insert.append((
#         row['sy_name'],
#         row['sy_snum'],
#         row['sy_pnum'],
#     ))

# conn.executemany(f"""
#     INSERT INTO systems (sy_name, sy_snum, sy_pnum, last_updated)
#     VALUES (?, ?, ?, current_timestamp)
#     ON CONFLICT(sy_name)
#     DO UPDATE SET
#         sy_name = CASE WHEN excluded.sy_name != systems.sy_name THEN excluded.sy_name ELSE systems.sy_name END,
#         sy_snum = CASE WHEN excluded.sy_snum != systems.sy_snum THEN excluded.sy_snum ELSE systems.sy_snum END,
#         sy_pnum = CASE WHEN excluded.sy_pnum != systems.sy_pnum THEN excluded.sy_pnum ELSE systems.sy_pnum END,
#         last_updated = current_timestamp
#     WHERE
#         systems.sy_snum != excluded.sy_snum OR
#         systems.sy_pnum != excluded.sy_pnum;
# """, data_to_insert)

### Checks

##### Metadata

In [ ]:
pd.read_sql_query("""PRAGMA table_info('systems');""", conn)

##### All

In [ ]:
pd.read_sql_query("""SELECT * FROM systems""", conn)

##### Count

In [ ]:
pd.read_sql_query("SELECT COUNT(sy_name) FROM systems", conn)

In [ ]:
pd.read_sql_query("""            
    SELECT *
    FROM systems
    WHERE last_updated = (
        SELECT MAX(last_updated)
        FROM systems
    );
""", conn)

In [ ]:
pd.read_sql_query("""
            SELECT *
            FROM planets
            WHERE last_updated = (
                SELECT MAX(last_updated)
                FROM planets
            )
            ORDER BY disc_pubdate;
        """, conn)

## Stars

### Delete

### Create

In [ ]:
conn.execute("""
CREATE TABLE stars (
    hostname TEXT PRIMARY KEY NOT NULL,
    sy_name INTEGER,
    last_updated DATETIME DEFAULT current_timestamp
);
""")

In [ ]:
conn.execute("""
    ALTER TABLE stars
      ADD st_spectype TEXT;
""")

### UPSERT

### Spectype

In [ ]:


data_to_insert = []
for _, row in data_frame.iterrows():
data_to_insert.append((
row['st_spectype'],
row['hostname']
))
for
conn.executemany("""
UPDATE stars
SET st_spectype = %s
WHERE hostname = %s;
""", data_to_insert)

### Checks

##### Metadata

In [ ]:
pd.read_sql_query("""PRAGMA table_info('stars');""", conn)

##### All

In [ ]:
pd.read_sql_query("""SELECT * FROM stars""", conn)

##### Count

In [ ]:
pd.read_sql_query("""SELECT COUNT(hostname) FROM stars""", conn)

## check for tables

In [ ]:
pd.read_sql_query("""SELECT name FROM sqlite_master WHERE type = 'table'""", conn)

## Read planets

##### Turn SQL to CSV for reading

In [14]:
stars = pd.read_sql("""SELECT * FROM stars""", conn)
stars.to_csv('../stars_data.csv', index=False)

##### Get most recent updated systems

In [ ]:
pd.read_sql_query("""
SELECT * FROM systems
 WHERE last_updated = (
  SELECT MAX(last_updated)
    FROM systems
);""", conn)